$main-color: rgb(73, 162, 186);
$accent-color: rgb(36, 39, 42);
$dark-main-color: rgb(43, 85, 102);
$text-bright-color: #fff;
$icon-color: #fff;
$gray-lv1: rgb(106, 110, 113);
$gray-lv2: rgb(159, 161, 164);
$icon-bk-color: rgb(221, 221, 221);
$large-width: 1000px;
$white: #fff;
$grey-lightest: #f9f9f9;
$grey-light: #e3e3e3;
$grey: #e5e5e5;
$grey-dark: #b9b9b9;
$purple: #c68eaa;
$green: #7ed321;
$emerald: #04BDBD;
$blue: #04AEC5;
$blue-dark: #0F6CC9;
$color-primary: $green;


@import url(//fonts.googleapis.com/css?family=Comfortaa);
@import url(//fonts.googleapis.com/css?family=Montserrat);
@charset "UTF-8";

//mixin
@mixin boxBase($margin: 30px auto, $padding: 10px) {
  margin: $margin;
  padding: $padding;
}
@mixin basePadding($padding: 10px) {
  padding: $padding;
}
@mixin baseMargin($margin: 10px auto) {
  margin: $margin;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover, &:focus{
    color: #0a6ebd;
    text-decoration: underline;
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

form {
  @include boxBase(20px 0 ,30px);
  box-shadow: 0 0 10px rgba($accent-color,0.2);
  background-color: $text-bright-color;
  box-sizing: border-box;
  font-size: 14px;
  input,textarea {
    width: calc(100% - 22px);
    @include boxBase(5px auto 20px,10px);
    border: 1px solid $gray-lv2;
    border-radius: 5px;
  }
  .disabledInput{
    cursor: not-allowed;
    background-color: #ddd;
    opacity: 1;
  }
  select {
    height: 43px;
    @include boxBase(5px auto 20px,10px);
    width: 100%;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 5px),
      calc(100% - 15px) calc(1em + 5px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 2em;
    background-repeat: no-repeat;
    &:focus {
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
      calc(100% - 20px) calc(1em + 5px),
      calc(100% - 15px) calc(1em + 5px),
      calc(100% - 2.5em) 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 2em;
      background-repeat: no-repeat;
      outline: 0;
    }
  }
  input[type="submit"] {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    @extend .transition;
    background-color: $main-color;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    &:hover {
      background-color: lighten($main-color, 10%);
    }
  }
}
