.container
  .footA
    %h2 recpost
    %nav.footD
      %ul
        %li
          %a{:href => "/"}
            %span.fa.fa-twitter{:title => "Twitter"}
        %li
          %a{:href => "/"}
            %span.fa.fa-facebook{:title => "Facebook"}
        %li
          %a{:href => "/"}
            %span.fa.fa-instagram{:title => "Instagram"}

  .footB
    %div
      %ul
        %li
          %a{:href => "/"} ○○○○
        %li
          %a{:href => "/"} ○○○○
        %li
          %a{:href => "/"} ○○○○
        %li
          %a{:href => "/"} ○○○○
  .footC
    (c) 2017 recpost by Shouki Tamura.
