#funcBtn
  .funcBtn_contents
    %a{href: "/"}
      %span.fa.fa-home
  .funcBtn_contents
    %a{href: "/tweets/new"}
      %span.fa.fa-pencil
  .funcBtn_contents
    %a{href: "/users/#{current_user.id}/bookmarks"}
      %span.fa.fa-bookmark
  .funcBtn_contents
    %a{href: "/users/#{current_user.id}"}
      %span.fa.fa-user
